
<div class="container">
    <ul class="nav nav-tabs">

        <li class="nav-item"><a class="nav-link {% if "admin_post_" in route  %}active{% endif %}" href="{{ url('admin_post_index') }}">Posts</a></li>
        {#<li class="nav-item"><a class="nav-link {% if "admin_postcategory_" in route %}active{% endif %}" href="{{ url('admin_postcategory_index') }}">Post catégories</a></li>#}
    </ul>
</div>