{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .color {
            color: {{ color }}
        }
    </style>
{% endblock %}
{% block body %}
    Ma couleur est : <span class="color">{{ color }}</span>
    {% if color == "red" %}
        <p class="color"><strong>Attention risque de virus.</strong></p>
    {% endif %}
{% endblock %}